<div>
<h1>Users</h1>

<% @users.each do |user| %>
   <h2><%= link_to user.name, user_path( user.id ) %></h2>

    <!-- <img src = "<%= user.picture%>"> -->
    <% user.pictures.each do |pic| %>

      <div class = "profile row center">
      <%= image_tag pic.name.url %>
    <% end %>
    <p> <%= user.gender%></p>
    <p> <%= user.animal%></p>
  </div>

<% end %>

<%= link_to "[New User]", new_user_path %>
</div>
