<h1>New User</h1>

<%= render "form" %>


<!-- <%= form_for @user do |f| %>

    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :animal %>
    <%= f.text_field :animal, size: 15 %>

    <%= f.label :gender %>
    <%= f.text_field :gender, size: 20 %>

    <%= f.submit "Create" %>

<% end %> -->
